* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background-color: #c7ecee;*/
  
    box-sizing:border-box;
}
a, a:hover{
    text-decoration:none;
}
.n-footer {
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff;
}
.box-cmt{
    border-top:1px solid gray;
}